# Define each variable appropriately and rename this file to .env, it will be used by compose.yaml

# Base path on the host for all persistent Docker data (volumes)
DOCKER_VOLUMES=/path/to/your/docker/volumes