# Define each variable appropriately and rename this file to .env, it will be used by compose.yaml

# Base path on the host for all persistent Docker data (volumes)
DOCKER_VOLUMES=/path/to/your/docker/volumes

# A Premium Spotify Developer Account API Client ID with Web API and Web Playback SDK enabled 
API_CLIENT_ID=<your_spotify_dev_api_client_id>

# Locally accessible callback point for OAuth login requests, e.g. 192.168.0.123, or 127.0.0.1
REDIRECT_ADDRESS=127.0.0.1